@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('HarmoniaSansProCyr-Black.woff2') format('woff2'),
        url('HarmoniaSansProCyr-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

